CLUSTER_NAME=prefect-spark-demo
REGION=ap-southeast-1
AWS_ACCOUNT_ID=your_aws_account_id

DATA_BUCKET=prefect-demo-data
PREFECT_FLOW_BUCKET=prefect-demo-flow

REPOSITORY_NAME=prefect-spark-runtime
IMAGE_TAG=latest


