cluster_name = "prefect-spark-demo"
region       = "ap-southeast-1"
eks_version  = "1.30"

data_bucket             = "prefect-demo-data"
script_bucket           = "prefect-demo-scripts"
prefect_repository_name = "prefect-runtime"
spark_repository_name   = "spark-runtime"
image_tag               = "latest"

prefect_work_pool_name = "kubernetes-pool"
glue_database_names    = ["processed"]
